header {
  display: block;
  width: 100%;
  height: 120px; // The height of the image.
  margin: 100px auto; // Top and bottom margins - 100px, horizontally centered.

  .logo {
    display: block;
    width: 100%;
    max-width: 480px; // The width of the logo image.
    margin: 0 auto; // Horizontally centered.

    img {
      display: block;
      width: 100%; // Takes the width and height of the parent element.
      height: 100%;
      margin: 0;
    }    
  }
}