$danger: #dc3545;
$clouway-blue: #0074A3;

.accounts-dropdown {
  width: 20%;
  max-width: 300px;
  margin: auto;
}

.transaction-dropdown {
  width: 10%;
  max-width: 100px;
  margin: auto;
}

.money-input {
  margin: 10px auto;
  display: block;
}

button {
  display: block; 
  margin: 10px auto;
  width: 140px;
}

.warning {
  text-align: center;
  color: $danger;
  margin: 10px auto;
  height: 25px;
}

.balance-section {
  text-align: center;
  color: $clouway-blue;
}

.submit-warning {
  text-align: center;
  color: $danger;
  height: 25px;
}